@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bank of Snail</h1>
    <p>Learn about how to open an account and acccess your money anywhere on the Grand Line.</p>
</div>
